# Caches
.sass-cache
.npm
.node_repl_history

# Dependency folders
node_modules/
vendor/
.bundle/

# Bridgetown
output/
.bridgetown-cache
.bridgetown-metadata
.bridgetown-webpack

# Byebug command history file.
.byebug_history

.env

# Yarn
yarn-error.log
yarn-debug.log*
.pnp/
.pnp.js
.yarn-integrity
